<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
     <!-- ↓style.css読み込み↓  -->
     <link rel="stylesheet" href="../static/styles.css" type="text/css">
     <!-- アイコンライブラリ -->
     <script src="https://unpkg.com/feather-icons"></script>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>在庫追加</title>
</head>

<body>
    <h1>在庫追加</h1>

    <div class="position-button-back">
        <a href="/inventory" class="button">
            <i data-feather="arrow-left"></i>
        </a>
    </div>


    <form method="POST" action="{{ url_for('add_product') }}">
        <label for="name">物品名:</label>
        <input type="text" id="name" name="name" required><br>
    
        <label for="manufacturer">メーカー名:</label>
        <input type="text" id="manufacturer" name="manufacturer" required><br>
    
        <label for="purchase_date">購入日:</label>
        <input type="date" id="purchase_date" name="purchase_date" required><br>
    
        <label for="item_number">物品管理番号:</label>
        <input type="text" id="item_number" name="item_number"><br>
    
        <label for="description">説明:</label>

        <textarea id="description" name="description" style="margin-top: 20px;"></textarea><br>
    
        <input type="submit" value="追加" style="width: 100px; height: 50px; font-size: 16px; margin-top: 40px;">
    </form>


    <!-- アイコン表示用 -->
    <script>
        feather.replace();
    </script>
</body>
</html>
