<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    
     <!-- ↓style.css読み込み↓  -->
     <link rel="stylesheet" href="../static/styles.css" type="text/css">
     <!-- アイコンライブラリ -->
     <script src="https://unpkg.com/feather-icons"></script>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <title>在庫詳細</title>
</head>

<style>
.product-details-container {
    font-size: large;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
</style>

<body>
      <div class="position-button-back">
        <a href="{{ url_for('inventory') }}" class="button">
            <i data-feather="arrow-left"></i>
        </a>
    </div>

    <div class="product-details-container">
        <h1>物品詳細</h1>
        <p>在庫名: {{ product.product_name }}</p>
        <p>製造企業: {{ product.manufacturer }}</p>
        <p>購入日: {{ product.purchase_date }}</p>
        <p>物品管理番号: {{ product.item_number }}</p>
        <p>説明: {{ product.description }}</p>
        <a href="{{ url_for('edit_product', product_id=product['id']) }}" class="button">
            <i data-feather="edit"></i>
            編集
        </a>
    </div>

    <!-- アイコン表示用 -->
    <script>
        feather.replace();
    </script>

</body>

</html>
