<!DOCTYPE html>
<html lang="ja">
<head>
    
        <meta charset="UTF-8">
        <title>在庫詳細</title>
        <link rel="stylesheet" href="../static/styles.css" type="text/css">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <title>QRコード</title>
</head>

<style>
    div {text-align: center;}
</style>

<body >
    <a href="{{ url_for('inventory') }}" class="back-button">
        <i class="fas fa-arrow-left"></i>
      </a>
    <h1>QRコード</h1>

<!--     <p><strong>QRコードに埋め込まれた情報:</strong></p>
    <pre>{{ product_info }}</pre>
 -->
    <!-- QRコードを表示 -->
     <div>
    <img src="data:image/png;base64,{{ qr_code }}" alt="QRコード" style="width:400px; height:400px; "class = "center">
    </div>
</body>
</html>



